ul.no-list {
  list-style: none;
}

.focus-good-input:focus, .focus-good-input:hover {
  outline:1px solid red;
  background:yellow;
}

.exlaim {
  color: #F0A;
}

.low-contrast {
  color: #191970;
}

.high-contrast {
  color: yellow;
}
